<div class="card-courses-container">
    <div class="card-courses card-courses-sence">
        <div class="card-courses-back">
            <a href="../assets/images/certificados/{{data.image}}"
                target="_blank">
                <img 
                    src="../assets/images/certificados/{{data.image}}"
                    alt="Imagen"/>
                <p>{{data.label}}</p>
            </a>
        </div>
        <div class="card-courses-front sence-front">
            <div class="row row-card-courses">
                <label><b>{{data.institute}}</b></label>
                <label>{{data.name}}</label>
                <label>{{data.lblEndDate}}</label>
                <label>Duración: {{data.lblDuration}} horas</label>

            </div>
        </div>
    </div>
</div>