<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/marcelo-bravo-c/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/marcelo.bravocastillo?locale=es_LA"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" href="https://github.com/MarceloBravo"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
    </div>
    <div class="h4 title text-center">Marcelo Bravo</div>
    <div class="text-center text-muted">
        <p>Ingeniero en Ejecución en Computación e Informática.</p>
    </div>
    <div class="text-center text-muted">
        <p>Desarrollado con <b>Angular 20</b>. Talca, Chile 2026</p>
    </div>
</footer>