<header>
  <div class="profile-page sidebar-collapse">
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary {{ isOnTop ? 'on-top' : 'no-on-top' }}"
      color-on-scroll="400"
      [class.toggled]="isMenuOpen"
    >
      <div class="container">
        <div class="navbar-translate" >
          <a class="navbar-brand" routerLink="/" [state]="{data: 'Marcelo Bravo'}" rel="tooltip">Marcelo Bravo</a>
          <button
            class="navbar-toggler navbar-toggler"
            type="button"
            (click)="toggleMenu()"
            aria-controls="navigation"
            [attr.aria-expanded]="isMenuOpen"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-bar bar1"></span
            ><span class="navbar-toggler-bar bar2"></span
            ><span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div
          class="navbar-collapse justify-content-end"
          [class.show]="isMenuOpen"
          id="navigation"
        >
          <ul class="navbar-nav">
            <li class="nav-item dropdown" [class.show]="isDropdownHomeOpen">
              <a 
                class="nav-link dropdown-toggle" 
                routerLink="/" 
                [state]="{data: 'Home'}" 
                id="sobreMiDropdown" 
                role="button" 
                (click)="toggleDropdownHome($event)"
                aria-haspopup="true" 
                [attr.aria-expanded]="isDropdownHomeOpen"
              >
                INICIO
              </a>
              <ul class="dropdown-menu {{ isOnTop ? '' : 'no-on-top' }}" [class.show]="isDropdownHomeOpen" aria-labelledby="sobreMiDropdown">
                <li>
                  <a class="dropdown-item smooth-scroll" routerLink="/" fragment="about" [state]="{data: 'Sobre mí'}" (click)="closeMenu()">SOBRE MÍ</a>
                </li>
                <li>
                  <a class="dropdown-item smooth-scroll" routerLink="/" fragment="skill" [state]="{data: 'Habilidades'}" (click)="closeMenu()">HABILIDADES</a>
                </li>
              </ul>
            </li>            
            <li class="nav-item">
              <a class="nav-link smooth-scroll" routerLink="/educacion" [state]="{data: 'Educación'}" (click)="closeMenu()">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#portfolio" (click)="closeMenu()">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" routerLink="/experiencia" [state]="{data: 'Experiencia laboral'}" (click)="closeMenu()">Experiencia laboral</a>
            </li>
            <li class="nav-item">

              <li class="nav-item dropdown" [class.show]="isDropdownCoursesOpen">
              <a 
                class="nav-link dropdown-toggle" 
                routerLink="/cursos" 
                [state]="{data: 'Capacitaciones'}" 
                id="sobreMiDropdown" 
                role="button" 
                (click)="toggleDropdownCourses($event)"
                aria-haspopup="true" 
                [attr.aria-expanded]="isDropdownCoursesOpen"
              >
                Capacitaciones
              </a>
              <ul class="dropdown-menu {{ isOnTop ? '' : 'no-on-top' }}" [class.show]="isDropdownCoursesOpen" aria-labelledby="sobreMiDropdown">
                <li>
                  <a class="dropdown-item smooth-scroll" routerLink="/cursos" fragment="sence-courses" [state]="{data: 'Cursos SENCE'}" (click)="closeMenu()">BOOTCAMPS SENCE</a>
                </li>
                <li>
                  <a class="dropdown-item smooth-scroll" routerLink="/cursos" fragment="other-courses" [state]="{data: 'Otros Cursos'}" (click)="closeMenu()">OTROS CURSOS</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" routerLink="/contacto" [state]="{data: 'Contacto'}" (click)="closeMenu()">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
