.pageTitle1,
.pageTitle2 {
  position: absolute;
  opacity: 0.2;
  font-size: 66px;
  transform: rotate(330deg);
  z-index: -1;
}

.pageTitle1{
  top: 0px;
}

.pageTitle2{
    top: 248px;
    right: -96px;
}

@media(max-width: 768px){
  .pageTitle1{
    padding-bottom: 0;
    font-size: xxx-large;
    position: fixed;
    top: 87%;
  }

  .pageTitle2{
    display: none;
  }
}