<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../../assets/images/code.jpg')"></div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image"><a><img src="../../assets/images/foto.jpg" alt="Image" /></a></div>
                    <div class="h2 title">Marcelo Bravo Castillo</div>
                    <p class="category text-white">Ingeniero en Ejecución en Computación e Informática</p>
                    <p class="category text-white">Actualizado el 11 de Febrero de 2026</p>
                    <a class="btn btn-primary smooth-scroll mr-2" routerLink="/contacto" [state]="{data: 'Contacto'}" fragment="contact" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">Contáctame</a>
                    <a 
                        id="btn-cv" 
                        class="btn btn-primary" 
                        href="https://raw.githubusercontent.com/MarceloBravo/Curr-culum-PDF/main/CV%20Marcelo%20Bravo%202026.pdf" 
                        data-aos="zoom-in"
                        download
                        data-aos-anchor="data-aos-anchor">Descargar CV</a>
                    <h2 class="pageTitle1">{{pageTitle}}</h2>
                    <h2 class="pageTitle2">{{pageTitle}}</h2>
                </div>
            </div>
            <div class="section">
                <div class="container">

                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.linkedin.com/in/marcelo-bravo-c/" target="blank" rel="tooltip"
                            title="Ve mi perfil de Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/MarceloBravo"
                            target="blank" rel="tooltip" title="Ve mi perfil de Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>