<div class="tab-content gallery">
    <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
            <div class="row">

                <div>

                    <div class="cc-porfolio-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="{{ credential.url }}" target="_blank">
                            
                            <figure class="cc-effect">
                                <img src="../assets/images/certificados/{{ credential.image }}" alt="Image" />
                                <figcaption id="app1-6">
                                    <div class="h4">Verificar</div>
                                </figcaption>
                            </figure>
                            
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>