/* Anular estilos de Bootstrap para permitir ajuste al ancho de la imagen */
.gallery.tab-content {
    width: fit-content !important;
    margin: 0 auto !important;
}

.gallery.tab-content .tab-pane {
    width: fit-content !important;
}

.gallery.tab-content .tab-pane .ml-auto {
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gallery.tab-content .tab-pane .row {
    display: block !important;
    width: fit-content !important;
}

.gallery.tab-content .tab-pane .row > div {
    width: fit-content !important;
    padding: 0 !important;
    margin: 0 !important;
}


.cc-porfolio-image:hover{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.gallery .cc-porfolio-image {
    width: fit-content !important;
    padding: 0 !important;
    margin: 0 !important;
}

.gallery .cc-porfolio-image figure {
    margin: 0 !important;
    padding: 0 !important;
}

.gallery .cc-porfolio-image figure img {
    max-width: none !important;
    width: auto !important;
    transform: scale(0.9, 0.9) !important;
    margin: 0 !important;
    padding: 0 !important;
}

#app1-6{
    align-content: center !important;
}

#app1-6 .h4{
    margin: 0 !important;
    color: #36023f;
    font-weight: 600;
}

.gallery figure.cc-effect:hover figcaption:before {
  background: rgba(87, 85, 85, 0.363) !important;  /* ← COLOR GRIS TRANSPARENTE */
}
