<div class="card-courses-container">
    <div class="card-courses">
        <div class="card-courses-front">
            <img src="../assets/images/certificados/{{data.image}}" alt="Imagen" />
        </div>
        <div class="card-courses-back">
            <div class="row row-card-courses">
                <p><b>{{data.institution}}</b></p>
                <p>{{data.lblEndDate}}</p>
                <p>Duración: {{data.lblDuration}} horas</p>
                <p><a href="{{data.url}}" target="_blank">Ver certificado</a></p>
            </div>
        </div>
    </div>
</div>