@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@import url("styles/aos.css");
@import url("styles/bootstrap.min.css");
@import url("styles/card.css");
@import url("styles/custom.css");
@import url("styles/main.css");
@import url("styles/curriculum.css");
