
<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Sobre mí</div>
                        <p>{{presentation.parrafo1}}</p>
                        <p>{{presentation.parrafo2}}</p>
                        <p>{{presentation.parrafo3}}</p>
                        <p>{{presentation.parrafo4}}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Información Básica</div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <a href="mailto:mabc@live.cl" class="col-sm-8">{{personalInfo.email}}</a>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Teléfono:</strong></div>
                            <div class="col-sm-8">{{personalInfo.telefono}}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Ciudad:</strong></div>
                            <div class="col-sm-8">{{personalInfo.ciudad}}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Idioma:</strong></div>
                            <div class="col-sm-8">{{personalInfo.idioma}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-4 title">Lenguajes de Programación y Herramientas</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            
              <div *ngFor="let skill of skills; let i = index">

                <div id="{{i}}" *ngIf="skill?.img !== null">
                    <img class="skill-icon" src="{{skill.img}}" alt="{{skill.name}}">
                    <label>{{skill.name}}</label>
                </div>

                <div id="{{i}}" *ngIf="skill?.path">
                    <svg class="skill-icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path [attr.d]="skill.path" />
                    </svg>
                    <label>{{skill.name}}</label>
                </div>

            </div>
              
        </div>
    </div>
</div>