
<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Sobre mí</div>
                        <p>Hola! Soy Marcelo Bravo. Ingeniero en Ejecución en Computación e Informática.</p>
                        <p>Llevo dedicandome al desarrollo de software desde 2010, primero escribiendo aplicaciones de
                            escritorio,
                            con lenguajes tales como Visual FoxPro y Visial Basic 6, luego desde 2013, pasé al
                            desarrollo web con tecnologías
                            tales como javascript, PHP y bootstrap, pero sin frameworks, los cuales los comencé a
                            incorporar entre mis
                            habilidades a partir del 2019.
                        </p>
                        <p>
                            Me he desempeñado en empresas tales cómo Intituciones de Educación, Entidades municipales
                            como la Dirección
                            Comunal de Salud de la ciudad de Talca y también en empresas de desarrollo de software.
                        </p>
                        <p>
                            Reconozco que tengo gran motivación e interés por el constante aprendizaje de
                            nuevos lenguajes, nuevas metodologías de desarrollo y buenas prácticas de
                            programación, lo que se puede evidenciar en la cantidad de cursos relacionados con el
                            desarrollo de software, en los que he participado.
                            <!-- <a href="https://templateflip.com/templates/creative-cv/" target="_blank">Learn More</a> -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Información Básica</div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <a href="mailto:mabc@live.cl" class="col-sm-8">mabc@live.cl</a>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Teléfono:</strong></div>
                            <div class="col-sm-8">+56 9 74331085</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Ciudad:</strong></div>
                            <div class="col-sm-8">Talca, Chile.</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Idioma:</strong></div>
                            <div class="col-sm-8">Español nativo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-4 title">Lenguajes de Programación y Herramientas</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <!--
              <div>
                <svg class="skill-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M320 104.5c171.4 0 303.2 72.2 303.2 151.5S491.3 407.5 320 407.5c-171.4 0-303.2-72.2-303.2-151.5S148.7 104.5 320 104.5m0-16.8C143.3 87.7 0 163 0 256s143.3 168.3 320 168.3S640 349 640 256 496.7 87.7 320 87.7zM218.2 242.5c-7.9 40.5-35.8 36.3-70.1 36.3l13.7-70.6c38 0 63.8-4.1 56.4 34.3zM97.4 350.3h36.7l8.7-44.8c41.1 0 66.6 3 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7h-70.7L97.4 350.3zm185.7-213.6h36.5l-8.7 44.8c31.5 0 60.7-2.3 74.8 10.7 14.8 13.6 7.7 31-8.3 113.1h-37c15.4-79.4 18.3-86 12.7-92-5.4-5.8-17.7-4.6-47.4-4.6l-18.8 96.6h-36.5l32.7-168.6zM505 242.5c-8 41.1-36.7 36.3-70.1 36.3l13.7-70.6c38.2 0 63.8-4.1 56.4 34.3zM384.2 350.3H421l8.7-44.8c43.2 0 67.1 2.5 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7H417l-32.8 168.7z"/></svg>
                <label>PHP</label>
              </div>
              -->
            
              <div *ngFor="let skill of skills; let i = index">

                <div id="{{i}}" *ngIf="skill?.img !== null">
                    <img class="skill-icon" src="{{skill.img}}" alt="{{skill.name}}">
                    <label>{{skill.name}}</label>
                </div>

                <div id="{{i}}" *ngIf="skill?.path">
                    <svg class="skill-icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path [attr.d]="skill.path" />
                    </svg>
                    <label>{{skill.name}}</label>
                </div>

            </div>
              
        </div>
    </div>
</div>