/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@import url("app/styles/aos.css");
@import url("app/styles/bootstrap.min.css");
@import url("app/styles/card.scss");
@import url("app/styles/custom.scss");
@import url("app/styles/main.scss");
@import url("app/styles/curriculum.scss");

html {
  scroll-behavior: smooth;
}
